body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 19, 31);
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* 
Main app
*/
div.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

/* 
Main app division
*/

div.app_head {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: aquamarine;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
}

div.app_content {
    color: aquamarine;
    font-size: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

div.app_footer {
    color: aquamarine;
    height: 10%;
    width: 100%;
    gap: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
}


form.search_form {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

input.search_input {
    height: 35%;
    width: 40%;
    border-radius: 0px;
    border-radius: 0px;
    border-style: solid;
    color: aquamarine;
    background-color: rgb(0, 65, 82);
    font-size: 2.2vh;
    font-family: Arial, Helvetica, sans-serif;
}

input.search_button {
    height: 35%;
    width: 25%;
    border-radius: 0px;
    border-radius: 0px;
    border-style: solid;
    color: aquamarine;
    background-color: rgb(0, 65, 82);
    font-size: 2.2vh;
    font-family: Arial, Helvetica, sans-serif;
}

input.search_button:hover {
    cursor: pointer;
    background-color: rgb(3, 198, 252);
}

a {
    color: rgb(5, 125, 155);
    font-size: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
}

br {
    color: rgb(0, 139, 158);
}