body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 19, 31);
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

div.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
}


div.app_head {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: aquamarine;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
}

div.app_content {
    color: aquamarine;
    font-size: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
}

div.app_footer {
    color: aquamarine;
    height: 10%;
    width: 100%;
    gap: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
}

div.product_cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    height: 50%;
    width: 100%;
    gap: 0.5vh;
}

div.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    height: 50%;
    width: 100%;
    gap: 0.5vh;
}

form.search_form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 100%;
    gap: 0.5vh;
}


div.form_left {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    gap: 0.5vh;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 75%;
}

div.form_right {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 25%;
}


input.search_input {
    height: 100%;
    width: 40%;
    flex-grow: 1;
    border: 1px solid rgb(178, 178, 178);
    box-sizing: border-box;
    color: aquamarine;
    padding: 1px;
    background-color: rgb(0, 65, 82);
    font-size: 2.0vh;
    font-family: Arial, Helvetica, sans-serif;
}

input.search_button {
    height: 100%;
    width: 100%;
    border: 1px solid rgb(173, 10, 73);
    box-sizing: border-box;
    color: rgb(0, 167, 144);
    background-color: rgb(52, 0, 28);
    font-size: 2.0vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
}

select.product_choice {
    height: 100%;
    width: 100%;
    border: 1px solid rgb(2, 71, 70);
    color: rgb(0, 167, 144);
    background-color: rgb(0, 38, 52);
}

select.product_choice:hover {
    cursor: pointer;
    background-color: rgb(0, 96, 95);
}

input.search_button:hover {
    cursor: pointer;
    background-color: rgb(218, 13, 92);
    color: rgb(83, 245, 182);
}

a {
    color: rgb(5, 125, 155);
    font-size: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
}

br {
    color: rgb(0, 139, 158);
}