<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/index.css}">
    <link rel="stylesheet" type="text/css" src="index.css">

    <title>Pedidos</title>
</head>

<body>
    <div class="app">
        <div class="app_head">

        </div>
        <div class="app_content">

            <div class="app_content_top"></div>
            <div class="app_content_middle">
                <div class="app_content_middle_title"> Teste Post </div>
                <div class="app_content_middle_search">
                    <p>Something went Wrong :O </p>


                    <h1><a href="/">Back</a></h1>



                </div>

            </div>
            <div class="app_content_bottom">
            </div>


</body>

</html>