<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <title>Pedidos</title>
</head>

<body>
    <div class="app">
        <div class="app_head">

        </div>
        <div class="app_content">

            <div class="app_content_top"></div>
            <div class="app_content_middle">
                <div class="app_content_middle_title"> I forgot how to... </div>
                <div class="app_content_middle_search">
                    <form class="search_form" method="POST" action="/db_search" id="search_form">
                        <input class="search_input" type="text" name="search_items"
                            placeholder="do a for loop? bake a cake?" id="search_input" />
                        <input class="search_button" type="submit" id="search_button" value="Go">
                    </form>

                </div>

            </div>
            <div class="app_content_bottom">
            </div>


</body>

</html>