<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/index.css}">
    <link rel="stylesheet" type="text/css" src="index.css">

    <title>Pedidos</title>
</head>

<body>
    <script>
        function addToCart() {
            let pizzas = document.getElementById("pizzas").value
            let pizzas_qty = document.getElementById("quantity").value
            localStorage.setItem("pizzas", pizzas_qty)
        }

    </script>
    <div class="app">
        <div class="app_head">
            <p> Teste API</p>

        </div>
        <div class="app_content">

            <form class="search_form" method="POST" action="/test_controller" id="search_form">
                <select name="pizzas" id="lang">
                    <option value="">Select a Pizza flavour</option>
                    <option value="frango_catupiry">Frango com Catupiry</option>
                    <option value="calabresa">Calabresa</option>
                    <option value="portuguesa">Portuguesa</option>
                    <option value="marguerita">Marguerita</option>

                </select>

                <select name="quantity">
                    <option value="select">Select Quantity</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <!-- <button type="button" onclick="addToCart()"> Add to Cart</button> -->
                <input class="search_button" type="submit" id="search_button" value="Test Controller">
            </form>

            <form class="search_form" method="POST" action="/create_cliente" id="search_form">
                <input class="search_input" placeholder="nome" type="text" id="nome" name="form_nome">
                <input class="search_input" placeholder="sobrenome" type="text" id="sobrenome" name="form_sobrenome">
                <input class="search_button" type="submit" id="search_button" value="Create Cliente">
            </form>

            <form class="search_form" method="POST" action="/update_cliente" id="search_form">
                <input class="search_input" placeholder="id cliente" type="text" id="nome" name="form_id">
                <input class="search_input" placeholder="novo nome" type="text" id="nome" name="form_nome">
                <input class="search_input" placeholder="novo sobrenome" type="text" id="sobrenome"
                    name="form_sobrenome">
                <input class="search_button" type="submit" id="search_button" value="Update Cliente">
            </form>

            <form class="search_form" method="POST" action="/remove_cliente" id="search_form">
                <input class="search_input" placeholder="id cliente" type="text" id="nome" name="form_id">
                <input class="search_button" type="submit" id="search_button" value="Remove Cliente">
            </form>

            <!-- <form class="search_form" method="POST" action="/retrieve_pedido" id="search_form">
                <input class="search_input" type="text" id="pedido" name="form_pedido_id">
                <input class="search_button" type="submit" id="search_button" value="Buscar Pedido">
            </form> -->


            <form class="search_form" method="POST" action="/update_pedido" id="search_form">
                <input class="search_input" placeholder="Id do pedido" type="text" name="pedido_id">
                <input class="search_input" placeholder="tipo produto" type="text" name="tipo_produto">
                <input class="search_input" placeholder="quantidade nova" type="text" name="nova_quantidade">
                <input class="search_input" placeholder="produto novo" type="text" name="novo_nome">
                <input class="search_button" type="submit" value="Add or Update Pedido">
            </form>

            <form class="search_form" method="POST" action="/remove_itens_pedido" id="search_form">
                <input class="search_input" placeholder="Id do pedido" type="text" name="pedido_id">
                <input class="search_input" placeholder="Id do produto" type="text" name="produto_id">
                <input class="search_input" placeholder="produto para remover" type="text" name="nome_produto">
                <input class="search_button" type="submit" value="Remove itens Pedido">
            </form>


            <!-- <form class="search_form" method="POST" action="/ver_json" id="search_form">
                <input class="search_input" type="text" name="pedido_id">
                <input class="search_button" type="submit" value="Ver JSON Pedido">
            </form> -->

            <form class="search_form" method="POST" action="/test_controller" id="search_form">
                <input class="search_button" type="submit" value="Test Controller">
            </form>

        </div>

        <div class="app_footer">
            status message:<p th:text="${status_message}"></p>

        </div>




</body>

</html>