<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/index.css}">
    <link rel="stylesheet" type="text/css" src="index.css">

    <title>Pedidos</title>
</head>

<body>
    <script>
        function addToCart() {
            let pizzas = document.getElementById("pizzas").value
            let pizzas_qty = document.getElementById("quantity").value


            localStorage.setItem("pizzas", pizzas_qty)
        }

    </script>
    <div class="app">
        <div class="app_head">

        </div>
        <div class="app_content">

            <div class="app_content_top"></div>
            <div class="app_content_middle">
                <div class="app_content_middle_title"> Teste </div>
                <div class="app_content_middle_search">

                    <form class="search_form" method="POST" action="/pedidos" id="search_form">
                        <select name="pizzas" id="lang">
                            <option value="">Select a Pizza flavour</option>
                            <option value="frango_catupiry">Frango com Catupiry</option>
                            <option value="calabresa">Calabresa</option>
                            <option value="portuguesa">Portuguesa</option>
                            <option value="marguerita">Marguerita</option>

                        </select>

                        <select name="quantity">
                            <option value="select">Select Quantity</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <!-- <button type="button" onclick="addToCart()"> Add to Cart</button> -->
                        <input class="search_button" type="submit" id="search_button" value="Add to cart">
                    </form>

                </div>

            </div>
            <div class="app_content_bottom">
            </div>


</body>

</html>